*{
    margin: 0;
    padding: 0;
}
body{
    font-family: SimHei;
    font-size: 14px;
    color: #333333;
}
/* 版心 */
.lg-container{
  width: 1200px;
  margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    zoom:1 ;
}
a{
    text-decoration: none;
}
/* margin-top */
.mt4{
    margin-top: 4px;
}
.mt10{
    margin-top: 10px;
}
.mt14{
    margin-top: 14px;
}
.mt18{
    margin-top: 18px;
}
.mt20{
    margin-top: 20px;
}
.mt16{
    margin-top: 16px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt48{
    margin-top: 48px;
}
.mt28{
    margin-top: 28px;
}
.mt53{
    margin-top: 53px;
}
/* margin-bottom */
.mb10{
    margin-bottom: 10px;
}
.mb8{
    margin-bottom: 8px;
}
.mb18{
    margin-bottom: 18px;
}
.mb42{
    margin-bottom: 42px;
}
.mb48{
    margin-bottom: 48px;
}
.mb100{
    margin-bottom: 100px;
}
.mt62{
    margin-top: 62px;
}
/* margin-left */
.ml14{
    margin-left: 14px;
}
.ml7{
    margin-left: 7px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 20px;
}
.ml30{
    margin-left: 30px;
}
.ml45{
    margin-left: 45px;
}
.ml25{
    margin-left: 25px;
}
.ml26{
    margin-left: 26px;
}
.ml24{
    margin-left: 24px;
}
.ml36{
    margin-left: 36px;
}
/* margin-right */
.mr14{
    margin-right: 14px;
}
.mr26{
    margin-right: 26px;
}
.mr70{
    margin-right: 70px;
}
.mr80{
    margin-right: 80px;
}
.mr48{
    margin-right: 48px;
}
.mr5{
    margin-right: 5px;
}
.mr65{
    margin-right: 65px;
}
.mr110{
    margin-right: 110px;
}
.mr127{
    margin-right: 127px;
}
.mr113{
    margin-right: 113px;
}
.mr250{
    margin-right: 250px;
}
/* padding */
.pt30{
    padding-top: 30px;
}
.pl10{
    padding-left: 10px;
}
/*  */
.outline-style{
    outline-style: none;
}
/* background-color */
.bgcf3{
    background-color: #f3f3f3;
}
.bgcb3{
    background-color: #b3b3b3;
}
.bgcf2{
    background-color: #f2f2f2;
}
.bgcf6{
    background-color: #f6f6f6;
}
.bgcf5{
    background-color: #f5f5f5;
}
.bgcf60{
    background-color: #ff6600;
}
.bgc1a8{
    background-color: #1a83e5;
}
.bgcfff{
    background-color: #ffffff;
}
/* color */
.cf42{
    color: #f4290d;
}
.c64{
    color: #646464;
}
.b3b3{
    color: #b3b3b3;
}
.ca6a{
    color: #a6a6a6;
}
.c80{
    color: #808080;
}
.cff{
    color: #ffffff;
}
.cf60{
    color: #ff6600;
}
.cff2{
    color: #ff2315;
}
.c333{
    color: #333333;
}
.c4d{
    color: #4d4d4d;
}
.c333{
    color: #333333;
}
.c40{
    color: #404040;
}
.c666{
    color: #666666;
}
.c0c0{
    color: #c0c0c0;
}
.c000{
    color: #000000;
}
.cfb2{
    color: #fb2f2f;
}
.c34{
    color: #343434;
}
.cf80{
    color: #f80e0e;
}
.c94{
    color: #949494;
}
.c6c6{
    color: #6c6c6c;
}
/* 加粗 */
.fb{
    font-weight: bold;
}
/* font-size */
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.font22{
    font-size: 22px;
}
.font24{
    font-size: 24px;
}
.font26{
    font-size: 26px;
}
.font28{
    font-size: 28px;
}
.font30{
    font-size: 30px;
}
/* line-height */
.lh32{
    line-height: 32px;
}
.lh36{
    line-height: 36px;
}
.lh24{
    line-height: 24px;
}
.lh18{
    line-height: 18px;
}
.tcenter{
    text-align: center;
}
.tline{
    text-decoration: line-through;
}
/* 显示 */
.displayb{
    display: block;
}
/* 隐藏 */
.display{
    display: none;
}
/* 文本缩进 */
.tindent{
    text-indent: 18px;
}
/* 头部 */
header .top{
        height: 28px;
        line-height: 28px;
        background-color: #101010;
}
header .top .txturl{
    color: #e6e6e6;
    margin-left: 210px;
}
header .top .loginbox{
    color: #bfbfbf;
}
header .top .loginbox a{
    color: #ff6600;
}
/* logo */
header .top>div{
    position: relative;
}
header .top .logo{
    position: absolute;
    margin: 0;
    top: 0;
}

/* 顶部搜索 */

header .topsearch form{
    width: 440px;
    height: 36px;
    /* background-color: blue; */
    box-sizing: border-box;
    border: 2px solid #ff6600;
}
header .topsearch form input:first-child{
    width: 388px;
    height: 32px;
    line-height: 32px;
    border: 0;
    padding: 0;
}
header .topsearch form input:last-child{
    width: 48px;
    height: 32px;
    border: 0;
    line-height: 32px;
    padding: 0;
    background: url(../img/bgicon.png) no-repeat;
}
header .topsearch .shopping{
    width: 200px;
    height: 36px;
    margin-left: 36px;
}
header .topsearch .shopping a{
    width: 100px;
    height: 36px;
    line-height: 36px;
}
header .topsearch .shopping a:first-child{
    background: url(../img/bgicon.png) 0 -42px #ff6600;
    text-indent: 36px;
}
header .topsearch .shopping a:last-child{
    background-color: #ebebeb;
    text-align: center;
}
/* 导航 */
.nav{
    padding-top: 20px ;
    font-weight: bold;
}
.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 100px;
}
.nav ul li{
    float: left;
    line-height: 24px;
    margin-left: 32px;
}
.nav ul li a{
    color: #323232;
    font-size: 16px;
}
/* banner */
/* 左边 */
#banner .menulist{
    width: 200px;
    height: 420px;
}
#banner .menulist ul{
    list-style: none;
    position: relative;
}
#banner .menulist ul li p{
    position: relative;
    line-height: 28px;
    padding-left: 20px;
    border: 1px solid transparent;
    z-index: 102;
}
#banner .menulist ul li{
    width: 200px;
}
#banner .menulist ul li .sunmenu{
    width: 600px;
    /* height: 420px; */
    position: absolute;
    top: 0;
    left: 200px;
    background-color: #fff;
    border: 1px solid #ff6600;
    box-sizing: border-box;
    z-index: 101;
    display: none;
}
/* 左边二级菜单 */
#banner .menulist ul li .sunmenu .link{
    display: inline-block;
    line-height: 30px;
}
#banner .menulist ul li .sunmenu ul li h2{
    width: 480px;
    font-size: 14px;
    color: #ff6600;
    line-height: 24px;
    border-bottom: 2px solid #e6e6e6
}
#banner .menulist ul li .sunmenu ul li h3{
    width: 480px;
    line-height: 24px;
}
/* 右边 */
#banner .slidebox{
    width: 1000px;
    height: 420px;
}
/* 今日推荐 */
/* 公共标题 */
.re-title{
    line-height: 32px;
    border-bottom: 6px solid #ff6600;
}
/* 产品内容 */
.re-content{
    width: 1188px;
    margin: 0 auto;
    border-left: 1px solid red;
}
.re-content ul li{
    list-style: none;
    width: 198px;
    height: 250px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    float: left;
    box-sizing: border-box;
}
.re-content ul li .content-img{
    width: 150px;
    height: 150px;
}
/* 页尾 */
#footer{
    position: relative;
}
.foot{
    border-top: 6px solid #ff6600;
    padding: 26px 0 18px 0;
}
#footer ul{
    list-style: none;
}
#footer .footlink{
    width: 680px;
    margin: 30px auto 0;
    line-height: 30px;
}
#footer .footlink ul li:not(:first-child) a{
    color: #666666;
}
#footer .footlink ul li:first-child a{
    font-weight: bold;
}
#footer .weblinks{
    width: 800px;
    margin: 30px auto 0;
}
/* footlogo */
#footer .footlogo{
    position: absolute;
    bottom: 124px;
    right: 352px;
}